<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoList</title>
  <script src="https://kit.fontawesome.com/6f97017ff6.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="stylesheet" href="css/styles-min.css">
</head>
<header>
  <nav>
    <div class="logo">
      <h1><a href="/"><i class="fa-solid fa-clipboard-list "></i></a></h1>
    </div>
    <div class="new-list">
      <form class="new-list-form" action="/new" method="post"><input class="new-list-input" type="text" name="newList"
          placeholder="Create New List" autocomplete="off"><button class="btn new-list-btn" type="submit" name="submit"
          value=newList><i class="fa-solid fa-circle-plus "></i></button></form>
    </div>
    <div>
      <ul class="links">
        <li><a href="/allList">Lists</a></li>
      </ul>
    </div>
  </nav>
</header>

<body>